<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Welcome to TvShow</title>
        {% endif %}
    </head>
    <body>
        <div>
            <a href="{{ url_for('main') }}">Home:</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('show_list') }}">TV Shows</a>
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('show_list') }}">TV Shows</a>
            <a href="{{ url_for('new_show') }}">New Show</a>
                <a href="{{ url_for('new_actor') }}">New Actor</a>
                <a href="{{ url_for('new_producer') }}">New Producer</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
    </body>
</html>