{% extends "base.html" %}

{% block content%}
    <h1>Money Heist:</h1>
    <h3>Description:</h3>
    <p>To carry out the biggest heist in history, a mysterious man called The Professor recruits a band of eight robbers
        who have a single characteristic: none of them has anything to lose. Five months of seclusion memorizing every step,
        every detail, every probability culminate in eleven days locked up in the National Coinage and Stamp Factory of Spain,
        surrounded by police forces and with dozens of hostages in their power, to find out whether their suicide wager will
        lead to everything or nothing.</p>
    <h3>Main Actors:</h3>
    <ul>
        <li>Ursula Corbero - Tokio</li>
        <li>Alvaro Morte - El Profesor</li>
        <li>Pedro Alonso - Berlin</li>
        <li>Itziar Ituno - Raquel Murillo</li>
        <li>Miguel Herran - Rio</li>
    </ul>
{% endblock %}