{% extends "base.html" %}

{% block app_content%}
    <div>
    <h1>{{ show.title }}</h1>
    </div>
    <div>
    <h3>{{ show.date.strftime('%B %d, %Y') }}</h3>
    </div>
    <div>
    <h3>Actors:</h3>
    </div>
    {% for a2s in show.a2s %}
        <div>
        <li>{{ a2s.Actor.firstname }} {{ a2s.Actor.lastname }}</li>
        </div>
    {% endfor %}
    <div>
    <h3>Producers:</h3>
    </div>
    {% for p2s in show.p2s %}
        <div>
        <li>{{ p2s.Producer.firstname }} {{ p2s.Producer.lastname }}</li>
        </div>
    {% endfor %}
    <div>
    <h3>Description:</h3>
    </div>`
    <div>
    <p>{{ show.description }}</p>
    </div>
{% endblock %}